.button {
  padding: 12px 36px; // 1rem 3rem;
  border: 0;
  border-radius: 0.5rem;
  background-color: #ebfcff;
  color: #0099c7;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 24px; // 2rem;
  appearance: none;

  &:not([disabled]) {
    cursor: pointer;

    &.is-hovered,
    &:hover,
    &:focus {
      background-color: #d2f7ff;
    }
  }

  &[disabled] {
    background-color: #f8f8f8;
    color: rgba(7, 2, 20, 0.2);
  }
}

.button--primary {
  font-weight: 700;
}

.button--text {
  padding: 6px 12px; // 0.5rem 1rem;
  background-color: transparent;

  &[disabled] { background-color: transparent; }

  &:not([disabled]) {
    &.is-hovered,
    &:hover,
    &:focus {
      background-color: transparent;
      color: #0078a3;
    }
  }
}

.button--link {
  padding: 0;
  background-color: transparent;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;

  &[disabled] { background-color: transparent; }

  &:not([disabled]) {
    &.is-hovered,
    &:hover,
    &:focus {
      background-color: transparent;
      color: #0078a3;
    }
  }
}
