.button-group {
  display: flex;
  align-items: center;
  color: #00a4c3;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  font-weight: 500;

  .button {
    padding: 6px 12px; // 0.5rem 1rem;
    border-radius: 0;
  }

  > .button + .button {
    border-left: 1px solid rgba(7, 2, 20, 0.1);
  }
}
