.button {
  padding: 12px 36px; // 1rem 3rem;
  border: 0;
  border-radius: 0.5rem;
  background-color: transparent;
  color: #00a4c3;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px; // 2rem;
  appearance: none;

  &:not([disabled]) { cursor: pointer; }

  &[disabled] {
    background-color: #f8f8f8;
    color: rgba(7, 2, 20, 0.2);
  }
}

.button--primary {
  background-color: #ebf9fc;
  font-weight: 700;
}

.button--link {
  padding: 0;
  background-color: transparent;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
}
